/* This is the navigation bar that would be applied across other webpages (if they existed) */
body, h1, h2, h3, p, ul, li, a {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: normal; 
  }
  /* this is turn the top navbar green */
  .topnav {
    align-items: center;
    background-color: #34B233;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    overflow: hidden;
    padding: 10px 20px;
    text-align: center;
  }
  
  /* ths is to adjust the size and position of the website name */
  .website-name {
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    margin-right: auto;
  }
    
  /*this is to change the button specifically to blue with black letters */
  .nav-items a.button {
    background-color: #2E38FF;
    color: #000000;
    font-weight: bold;
    padding: 3px 30px;
    margin-right: 18px;
    border-radius: 14px;
    font-size: 24px
  }

  /* website name is grey */
  .topnav a.website-name{
    color: #37424A;
  }
  /* text turns black when hovered over */
  .topnav a:hover {
    color: black;
  }
  
/*THIS IS THE END OF THE NAVIGATION BAR*/



/* when the mouse goes over a country it should turn green */
.hover-effect {
    fill: #34B233; 
}

.selected {
  stroke: #FF0000; /* Red border line when a country is selected */
}

.book {
  margin-bottom: 10px; /* thickness of the margin area*/
  border-bottom: 1px solid #ccc; /* Border width and colour */
  padding-bottom: 10px; /* thickness of the padding area */
}

.genre-highlight {
  stroke: #ff0000; /* This is to create a red outline */
  stroke-width: 2; /* This is to make the outline bolder */
}

svg {
    width: 80vw; /* Make the width 80% */
    height: auto; /* Make sure the height automatically fits across various application */
    display: block;
    margin: 0 auto; /* Map is horizontally in the middle of the webpage  */
}